@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lato&family=Montserrat:wght@700&display=swap");
header.site-header {
  padding: 28px 0;
}

.slider-section div {
  background-color: #f5f5f5;
}

.slider-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 570px;
  margin-right: 0;
  margin-left: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.slider-content h2 {
  font-size: 54px;
  line-height: 64px;
  font-family: "Raleway";
  font-weight: 800;
  text-shadow: 0px 0px 4px #000000;
  color: #ffffff;
}

.slider-content h1 {
  color: #303233;
  font-size: 18px;
  font-family: "Kaushan Script";
  font-weight: 400;
  margin-bottom: 0;
}

article {
  margin-top: 131px;
}

.text-vertical {
  display: inline-block;
  -webkit-transform: rotate(270deg) translateX(-79px);
          transform: rotate(270deg) translateX(-79px);
  background-color: #003333;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  padding: 18px 28px;
}

.entry-header {
  margin-bottom: 32px;
}

.project-details h2 {
  font-size: 30px;
  line-height: 40px;
  font-family: "Raleway";
  font-weight: 800;
  color: #303233;
  margin-bottom: 24px;
}

.project-details p {
  color: #7a7a7a;
  font-size: 14px;
  line-height: 24px;
  font-family: "Lato";
  font-weight: 400;
}

.social-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-info h3 {
  color: #303233;
  font-size: 18px;
  line-height: 30px;
  font-family: "Raleway";
  font-weight: 800;
  margin-right: 30px;
  margin-bottom: 0;
}

.project-info h2 {
  font-size: 18px;
  font-weight: 800;
  font-family: "Raleway";
  line-height: 24px;
  margin-bottom: 5px;
  color: #303233;
}

.project-info p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato";
  line-height: 24px;
  margin-bottom: 5px;
}

.project-info {
  margin-bottom: 30px;
}

.social-link-list .fa {
  color: #7a7a7a;
  font-size: 14px;
}

.social-link-list a:hover i {
  color: #303233;
}

.social-link-list li {
  margin-right: 29px !important;
}

.carousel-item img {
  width: 100px !important;
  text-align: center;
  margin: 0 auto;
}

:is(.carousel) :is(a) {
  border: 1px solid #eaeaea;
  width: 60px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:is(.carousel-control-prev, .carousel-control-next) {
  border: 1px solid #eaeaea;
  width: 60px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  top: 8px;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

:is(.carousel-control-prev, .carousel-control-next) :is(span) {
  width: 0;
}

.carousel-inner {
  max-width: calc(100% - 20%);
  margin-left: auto;
  margin-right: auto;
}

.slider {
  margin-bottom: 70px;
}

:is(.carousel) :is(a:hover) {
  width: 109px;
  background: #fbc903;
}

:is(.carousel) :is(a:hover) span {
  width: auto;
  color: #000;
  margin-left: 8px;
  font-size: 14px;
  font-family: "Lato";
  font-weight: 400;
}

.section-title h2 {
  font-size: 24px;
  line-height: 40px;
  font-family: "Raleway";
  font-weight: 800;
  color: #303233;
}

.section-title h2::after {
  content: '';
  display: block;
  background: #fbc903;
  width: 36px;
  height: 2px;
  margin-top: 5px;
}

.related-posts .row {
  margin-top: 30px;
}

.related-posts .row div:nth-child(3n+1) {
  padding-top: 36px;
}

.related-posts .row div:nth-child(3n+2) {
  padding-top: 24px;
}

.related-posts {
  margin-bottom: 92px;
}

footer .container-fluid {
  background: #000000;
  padding-top: 100px;
}

footer .section-title h2 {
  color: #ffffff;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 15px;
}

.about-us p {
  color: #ffffff;
  font-weight: 400;
  font-family: "Lato";
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 26px;
}

:is(footer) :is(a, i) {
  color: #ffffff;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 17px;
}

.contact-info p {
  margin-bottom: 0;
  line-height: 18px;
}

.contact-info div {
  margin-left: 22px;
}

.contact-info .fa {
  font-size: 18px;
}

.copright {
  background-color: #222324;
}

.copright p {
  margin-bottom: 0;
  text-align: center;
  color: #646565;
  font-size: 12px;
  font-family: "Lato";
  font-weight: 400;
  padding: 15px 19px;
}

.copright p a {
  color: #646565;
}

.recent-news {
  margin-bottom: 20px;
}

.recent-news a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recent-news img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.recent-news h3 {
  color: #ffffff;
  font-weight: 800;
  font-family: "Raleway";
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 0;
}

.recent-news time {
  color: #ffffff;
  font-weight: 400;
  font-family: "Lato";
  font-size: 10px;
  line-height: 10px;
}

.our-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-gallery img {
  height: 100%;
}

.our-gallery .gallery-column-one {
  width: 50%;
  margin-right: 9px;
}

.our-gallery .gallery-column-two {
  width: 50%;
}

.our-gallery .gallery-column-two div {
  width: 100%;
}

.our-gallery .gallery-column-two .d-flex img {
  width: 50%;
}

/** Media Queries **/
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
/*# sourceMappingURL=style.css.map */